[build]
  base = "admin-ui"
  command = "npm install && npm run build"   # <-- change from npm ci
  publish = "public"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
